### Example user template template
### Example user template

# IntelliJ project files

.idea
*.iml
target
# Compiled class file
*.war
*.jar
*.nar
*.ear
*.zip
*.tar.gz
*.rar

*.class
*.log
*.ctxt
.mtj.tmp/
he_err_pid*
.classpath
.project
out
gen
